@{
    
}

<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>EOS V2</title>
    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
  </head>
  <body>
    <div class="row">
      <div class="span12">
        <h2><u>Version 1.0.7</u></h2>
        <p>Date: 15th May 2013</p>
        <br>
        <p>1) Bugs fixed for OBS and COS/CSS download file in batch.</p>
        <p>2) Bugs fixed UMS for prefix Position, Department, Office, Department and Branch.</p>
      </div>
    </div>
    <div class="row">
      <div class="span12">
        <h2><u>Version 1.0.6</u></h2>
        <p>Date: 10th May 2013</p>
        <br>
        <p>1) Services log for Rate Feed EUC module running.</p>
        <p>2) View service log.</p>
        <p>3) Update UMS for prefix Position, Department, Office, Department and Branch.</p>
        <p>4) Bug fixed for add and edit user.</p>
        <p>5) Bug fixed for change password.</p>
      </div>
    </div>
    <div class="row">
      <div class="span12">
        <h2><u>Version 1.0.5</u></h2>
        <p>Date: 8th May 2013</p>
        <br>
        <p>1) Activity log for Rate Feed EUC module running.</p>
        <p>2) View activity log.</p>
        <p>3) Email content changed.</p>
        <p>4) Bug fix for setting permissions.</p>
      </div>
    </div>
    <div class="row">
      <div class="span12">
        <h2><u>Version 1.0.4</u></h2>
        <p>Date: 30th April 2013</p>
        <br>
        <p>1) E-Clafs Module Up and Running. User can search from the latest Head Office and Local Sanction List uploaded.</p>
        <p>2) Enhancement to UMS module. User can now add and edit permission.</p>
        <p>3) Retrieve password change from email to username.</p>
        <p>4) Bug fix for lock/unlock user.</p>
      </div>
    </div>
    <div class="row">
      <div class="span12">
        <h2><u>Version 1.0.3</u></h2>
        <p>Date: 23nd April 2013</p>
        <br>
        <p>1) Added Administrator Tab.</p>
        <p>2) Add new user to EOS System up and running.</p>
        <p>3) View who's online.</p>
        <p>4) View active and resign user list.</p>
      </div>
    </div>
    <div class="row">
      <div class="span12">
        <h2><u>Version 1.0.2</u></h2>
        <p>Date: 22nd April 2013</p>
        <br>
        <p>1) Worry no more. Loading image to show your system is running.</p>
        <p>2) Some minor bugs fixed.</p>
      </div>
    </div>
    <div class="row">
      <div class="span12">
        <h2><u>Version 1.0.1</u></h2>
        <p>Date: 17th April 2013</p>
        <br>
        <p>1) Rate Feed EUC Module Up and Running.</p>
        <p>2) Rate Feed EUC Report Module Up and Running</p>
        <p>2) Rate Feed EUC GDM Module Up and Running</p>
      </div>
    </div>
    <div class="row">
      <div class="span12">
        <h2><u>Version 1.0.0</u></h2>
        <p>Date: 10th April 2013</p>
        <br>
        <p>1) Newly design.</p>
      </div>
    </div>
  </body>
</html>
