<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <system.web>
		<httpCookies httpOnlyCookies="true" />
    <compilation debug="true" targetFramework="4.0" />
    <customErrors mode="Off" />
    <httpRuntime maxRequestLength="100000" requestValidationMode="2.0" />
    <sessionState timeout="525600" />
      <!-- <identity impersonate="true" password="P@ss1234!" userName="ratefeedadmin" /> -->
  </system.web>
    <system.webServer>
			<httpProtocol>
				<customHeaders>
					<add name="X-UA-Compatible" value="IE=Edge" />
					<add name="cache-control" value="" />
					<add name="expires" value="0, Tue, 01 Jan 1980 1:00:00 GMT" />
					<add name="pragma" value="no-cache" />
				</customHeaders>
			</httpProtocol>
    <modules runAllManagedModulesForAllRequests="true" />
        <staticContent>
            <!-- <mimeMap fileExtension=".woff" mimeType="application/x-font-woff" />
            <mimeMap fileExtension=".woff2" mimeType="application/x-font-woff" /> -->
        </staticContent>
    </system.webServer>
    <connectionStrings>
        <add connectionString="server=DESKTOP-7K5BG7G\SQLEXPRESS;database=eos_gdm;uid=testing1; pwd=123456;" name="eos_gdm" providerName="System.Data.SqlClient" />
        <add connectionString="server=DESKTOP-7K5BG7G\SQLEXPRESS;database=eos_rf;uid=testing1; pwd=123456;" name="eos_rf" providerName="System.Data.SqlClient" />
        <add connectionString="server=DESKTOP-7K5BG7G\SQLEXPRESS;database=eos_sys;uid=testing1; pwd=123456;" name="eos_sys" providerName="System.Data.SqlClient" />
        <add connectionString="server=DESKTOP-7K5BG7G\SQLEXPRESS;database=eos_ums;uid=testing1; pwd=123456;" name="eos_ums" providerName="System.Data.SqlClient" />
        <add connectionString="server=DESKTOP-7K5BG7G\SQLEXPRESS;database=eos_sunction;uid=testing1; pwd=123456;" name="eos_sunction" providerName="System.Data.SqlClient" />
        <add connectionString="server=DESKTOP-7K5BG7G\SQLEXPRESS;database=eos_log;uid=testing1; pwd=123456;" name="eos_log" providerName="System.Data.SqlClient" />
        <add connectionString="server=DESKTOP-7K5BG7G\SQLEXPRESS;database=pbt24;uid=testing1; pwd=123456;" name="pbt24" providerName="System.Data.SqlClient" />
        <add connectionString="server=DESKTOP-7K5BG7G\SQLEXPRESS;database=eos_epoms;uid=testing1; pwd=123456;" name="eos_epoms" providerName="System.Data.SqlClient" />
        <add connectionString="server=DESKTOP-7K5BG7G\SQLEXPRESS;database=eos_swift;uid=testing1; pwd=123456;" name="eos_swift" providerName="System.Data.SqlClient" />
        <add connectionString="server=DESKTOP-7K5BG7G\SQLEXPRESS;database=eos_ecrm;uid=testing1; pwd=123456;" name="eos_ecrm" providerName="System.Data.SqlClient" />
        <add connectionString="server=DESKTOP-7K5BG7G\SQLEXPRESS;database=edoc;uid=testing1; pwd=123456;" name="edoc" providerName="System.Data.SqlClient" />
        <add connectionString="server=DESKTOP-7K5BG7G\SQLEXPRESS;database=edm;uid=testing1; pwd=123456;" name="edm" providerName="System.Data.SqlClient" />
        <add connectionString="server=DESKTOP-7K5BG7G\SQLEXPRESS;database=eos_gct;uid=testing1; pwd=123456;" name="eos_gct" providerName="System.Data.SqlClient" />
        <add connectionString="server=DESKTOP-7K5BG7G\SQLEXPRESS;database=fve;uid=testing1; pwd=123456;" name="fve" providerName="System.Data.SqlClient" />
        <add connectionString="server=DESKTOP-7K5BG7G\SQLEXPRESS;database=eos_ddfw;uid=testing1; pwd=123456;" name="eos_ddfw" providerName="System.Data.SqlClient" />
	<add connectionString="server=DESKTOP-7K5BG7G\SQLEXPRESS;database=eos_eodrtcs;uid=testing1; pwd=123456;" name="eos_eodrtcs" providerName="System.Data.SqlClient" />
	<add connectionString="server=DESKTOP-7K5BG7G\SQLEXPRESS;database=eos_docpre;uid=testing1; pwd=123456;" name="eos_docpre" providerName="System.Data.SqlClient" />
<add connectionString="server=DESKTOP-7K5BG7G\SQLEXPRESS;database=eos_cdc;uid=testing1; pwd=123456;" name="eos_cdc" providerName="System.Data.SqlClient" />
  <add connectionString="server=DESKTOP-7K5BG7G\SQLEXPRESS;database=eos_xmlprofile;uid=testing1; pwd=123456;" name="xmlprofile" providerName="System.Data.SqlClient" />
 
   </connectionStrings>
</configuration>
